@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Lilita One", sans-serif;
}

body {
    background-color: black;
}

#wrapperTitle {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
}